* {
    margin: 0;
}

.home {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Antonio', sans-serif;
}

.landingText {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    color: black;
    bottom: 90px;
    padding: 40px;
}

.image {
    position: relative;
    width: 800px;
    height: 600px;
}

.btn {
    position: absolute;
    z-index: 1;
    left: 30px;
    bottom: 50px;
    height: 100px;
    width: 200px;
    border-radius: 20px;
    font-weight: bolder;

}

.btnLink {
    font-style: inherit;
    list-style: none;
    text-decoration: none;
    font-size: 2rem;


}

.btnLink:visited {
    text-decoration: none;
    color: black;
}

.sliderText {
    margin: auto;
    position: absolute;
    z-index: 1;
    font-size: 3.5rem;
    left: 30px;
    bottom: 100px;
    color: black;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}